<% status_indicator_color = "bg-green-500" %>
<% if server.recent_failure? %>
  <% status_indicator_color = "bg-orange-500" %>
<% end %>
<% if server.last_request_failed? %>
  <% status_indicator_color = "bg-red-500" %>
<% end %>

<div id="<%= dom_id(server) + "-server-header" %>">
  <%= turbo_stream_from server %>
  <div class="flex flex-wrap pb-2 gap-4">
    <div class="w-5 h-5 <%= status_indicator_color %> rounded-full border border-black"></div>
    <p class="font-bold break-all">
    <%= server.name %>
    </p>
  </div>
</div>
